@charset "UTF-8";
/*fade*/
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.28s;
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.breadcrumb-move {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type='file'] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.cell .el-tag {
  margin-right: 0px;
}

.el-button--primary {
  height: 28px !important;
  text-align: center;
  border-radius: 4px;
  margin-left: 10px !important;
  background-color: #2db7f5;
  color: #fff;
}

.el-button--success {
  height: 28px !important;
  text-align: center;
  border-radius: 4px;
  background-color: #19be6b;
  color: #fff;
}

.el-button--danger {
  height: 28px !important;
  text-align: center;
  border-radius: 4px;
  background-color: #e65643;
  color: #fff;
}

.flex-item .el-table th {
  height: 30px !important;
  background-color: #e0e0e0;
  /*替换为你需要的颜色，觉得优先级不够就加!important*/
}

.dialog-mini .treeselect-main {
  width: 250px !important;
  height: 32px !important;
}

.small-padding .cell {
  padding-left: 5px;
  padding-right: 5px;
}

.fixed-width .el-button--mini {
  padding: 0px 0px;
  width: 12px;
  border: none;
}

.status-col .cell {
  padding: 0 10px;
  text-align: center;
}

.status-col .cell .el-tag {
  margin-right: 0px;
}

.el-dialog {
  -webkit-transform: none;
          transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.article-textarea textarea {
  padding-right: 40px;
  resize: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #bfcbd9;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-editor.el-input__inner {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.el-range-separator {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.el-tree-node__label {
  font-size: 12px !important;
}

#app {
  width: 100%;
}

#app .main-container {
  min-height: 100%;
  -webkit-transition: margin-left .28s;
  transition: margin-left .28s;
  margin-left: 180px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#app .sidebar-container {
  -webkit-transition: width 0.28s;
  transition: width 0.28s;
  width: 190px !important;
  height: 100%;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  -webkit-transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .scrollbar-wrapper .el-scrollbar__view {
  height: 100%;
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .hideSidebar .sidebar-container {
  width: 36px !important;
}

#app .hideSidebar .main-container {
  margin-left: 36px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 10px !important;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding-left: 10px !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 180px !important;
  background-color: #1f2d3d !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 180px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  -webkit-transition: -webkit-transform .28s;
  transition: -webkit-transform .28s;
  transition: transform .28s;
  transition: transform .28s, -webkit-transform .28s;
  width: 180px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  width: 36px !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  -webkit-transition: none;
  transition: none;
}

.blue-btn {
  background: #324157;
}

.blue-btn:hover {
  color: #324157;
}

.blue-btn:hover:before, .blue-btn:hover:after {
  background: #324157;
}

.light-blue-btn {
  background: #3A71A8;
}

.light-blue-btn:hover {
  color: #3A71A8;
}

.light-blue-btn:hover:before, .light-blue-btn:hover:after {
  background: #3A71A8;
}

.red-btn {
  background: #C03639;
}

.red-btn:hover {
  color: #C03639;
}

.red-btn:hover:before, .red-btn:hover:after {
  background: #C03639;
}

.pink-btn {
  background: #E65D6E;
}

.pink-btn:hover {
  color: #E65D6E;
}

.pink-btn:hover:before, .pink-btn:hover:after {
  background: #E65D6E;
}

.green-btn {
  background: #30B08F;
}

.green-btn:hover {
  color: #30B08F;
}

.green-btn:hover:before, .green-btn:hover:after {
  background: #30B08F;
}

.tiffany-btn {
  background: #4AB7BD;
}

.tiffany-btn:hover {
  color: #4AB7BD;
}

.tiffany-btn:hover:before, .tiffany-btn:hover:after {
  background: #4AB7BD;
}

.yellow-btn {
  background: #FEC171;
}

.yellow-btn:hover {
  color: #FEC171;
}

.yellow-btn:hover:before, .yellow-btn:hover:after {
  background: #FEC171;
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 25px;
  -webkit-transition: 600ms ease all;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;
}

.pan-btn:hover {
  background: #fff;
}

.pan-btn:hover:before, .pan-btn:hover:after {
  width: 100%;
  -webkit-transition: 600ms ease all;
  transition: 600ms ease all;
}

.pan-btn:before, .pan-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.pan-btn::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

body {
  margin: 0px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

code a {
  color: #337ab7;
  cursor: pointer;
}

code a:hover {
  color: #20a0ff;
}

.warn-content {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.warn-content a {
  color: #42b983;
  font-weight: 600;
}

.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  -webkit-transition: 600ms ease position;
  transition: 600ms ease position;
  background: #d0d0d0;
}

.sub-navbar .subtitle {
  font-size: 20px;
  color: #fff;
}

.sub-navbar.draft {
  background: #d0d0d0;
}

.sub-navbar.deleted {
  background: #d0d0d0;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
}

.link-type:hover,
.link-type:focus:hover {
  color: #20a0ff;
}

.filter-container {
  font-size: 12px !important;
  padding-bottom: 0px;
}

.filter-container .filter-item {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}

.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

table thead th {
  color: #fff;
  text-align: center !important;
}

.el-table td {
  font-size: 12px;
}

.el-table th {
  font-size: 12px;
}

.el-table__header tr,
.el-table__header th {
  padding: 3px 0 !important;
  height: 30px;
}

.el-table__body tr,
.el-table__body td {
  padding: 3px 0 !important;
  height: 30px;
}

.body-small .el-card__body {
  padding: 10px 5px;
}

.pagination-container {
  background: #fff;
  padding: 10px !important;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.pagination-container .is-in-pagination {
  margin-left: 5px;
}

.color-danger {
  color: #f78989;
}

.color-success {
  color: #67c23a;
}

.color-white {
  color: #fff;
}

.card-body-none .el-card__body {
  padding: 0;
  margin: -1px;
  padding-bottom: 10px;
}

.app-container {
  background-color: #efefef;
  padding: 10px;
}

.el-card__header {
  height: 34px;
  line-height: 34px;
  width: 100%;
  color: #666;
  padding: 0 !important;
  font-weight: bold;
  padding-left: 9px !important;
  font-size: 12px;
}

.bg-white {
  background-color: white;
}

.dialog-mini .el-dialog__header {
  height: 35px;
  line-height: 35px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 0 20px;
}

.dialog-mini .el-dialog__header .el-dialog__title {
  line-height: 34px;
  font-size: 14px;
  color: #333;
}

.dialog-mini .el-dialog__header .el-dialog__headerbtn {
  color: #333;
  top: 11.5px;
  right: 11.5px;
}

.dialog-mini .el-dialog__footer {
  height: 50px;
  width: 100%;
  text-align: right;
  padding: 0px 10px;
  border-top: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  background-color: #f8f8f8;
  line-height: 50px;
}

.dialog-mini .el-dialog__body {
  padding: 10px;
}

.dialog-mini .el-dialog__body .el-form {
  padding-right: 20px;
  padding-top: 10px;
}

.dialog-mini .el-form-item__label {
  font-size: 12px;
  font-weight: normal !important;
}

.dialog-mini .el-form-item.el-form-item--small {
  margin-bottom: 8px;
}

.dialog-mini .el-form-item.is-error.el-form-item--small {
  margin-bottom: 18px;
}

.compent-dialog-body {
  margin: -10px;
}

.compent-dialog-body .table {
  margin-top: 10px;
  border: 1px solid #ebeef5;
  border-bottom: 0;
  border-right: 0;
}

.compent-dialog-body .content {
  padding: 10px;
}

.v-modal {
  z-index: 2000 !important;
}

.flex-column {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.fh {
  height: 100% !important;
}

.ls-border {
  border: 1px solid #ebeef5;
}
/*# sourceMappingURL=index.css.map */